@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ContainerShowItems {
    display: flex;
    flex-direction: column;
    width: 75%;
    min-width: 400px;
}

.ContainerSubtitleItem {
    display: flex;
    height: 40px;
    font-size: 0.9em;
    color: rgb(128, 116, 105);
}

.LBshowFilter {
    margin-left: 10px;
    color: black;
}

.PNcontainerShowItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.ContainerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 200px;
    border: none;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: opacity 0.5s ease;
    z-index: 1;
}

    .ContainerItem:hover {
        cursor: pointer;
        opacity: 0.8;
    }

.itemBookCover {
    width: 100%;
    height: 300px;
    margin-bottom: 5px;

    color:red;

    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.itemTitle {
    width: 90%;
    font-size: 1em;
    margin-bottom: 3px;
}

.itemAuthor {
    width: 90%;
    font-size: 0.8em;
    color: rgb(128, 116, 105);
    margin-bottom: 3px;
}

.itemPrice {
    width: 90%;
    font-size: 0.9em;
    margin-bottom: 7px;
    color: rgb(227, 89, 91);
}

.ContainerItemRating {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    height: 20px;
    width: 90%;
    color: rgb(128, 116, 105);
    font-size: 0.8em;
}

    .ContainerItemRating img {
        height: 70%;
        width: auto;
    }
